<div class="footer-socials">
  <a href="#" class="social-icon linkedin" data-tooltip="LinkedIn"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="social-icon github" data-tooltip="GitHub"><i class="fa fa-github"></i></a>
  <a href="#" class="social-icon facebook" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="social-icon twitter" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="social-icon youtube" data-tooltip="YouTube"><i class="fa fa-youtube"></i></a>
</div>
<p id="footer-text"></p>
