<ul class="sidebar-menu sidebar">
  <li>
    <a href="#home">
      <i class="fas fa-home"></i>
      <span id="homeLabel"></span>
    </a>
  </li>
  <li>
    <a href="#aboutMe">
      <i class="fas fa-user"></i>
      <span id="aboutMeLabel"></span>
    </a>
  </li>
  <li>
    <a href="#projects">
      <i class="fas fa-laptop-code"></i>
      <span id="projectsLabel"></span>
    </a>
  </li>
  <li>
    <a href="#skills">
      <i class="fas fa-cogs"></i>
      <span id="skillsLabel"></span>
    </a>
  </li>
  <li>
    <a href="#contact">
      <i class="fas fa-envelope"></i>
      <span id="contactLabel"></span>
    </a>
  </li>
</ul>
