.contact {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  font-size: clamp(1.5rem, 2vw, 3rem);
  margin-bottom: clamp(0.25rem, 0.5vw, 0.5rem);
  text-align: center;
  animation: glow 2s infinite alternate, fadeZoomIn 1s ease forwards;
  opacity: 0;
}

.contact-subtitle {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  margin-bottom: clamp(1rem, 2vw, 2rem);
  text-align: center;
  animation: fadeInUp 0.8s ease forwards;
  opacity: 0;
}

/* Contenedor principal */
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, 3vw, 4rem);
    max-width: clamp(20rem, 50vw, 70rem);
    padding: clamp(1.5rem, 2vw, 3rem);
    border-radius: clamp(0.5rem, 1vw, 1rem);
    animation: fadeSlideUp 1s ease forwards;
    opacity: 0;
  }

/* Información de contacto */
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 1.2vw, 1.5rem);
    padding-bottom: clamp(5rem, 10vw, 14rem);
  }

  .info-item {
    display: flex;
    gap: clamp(0.5rem, 0.75vw, 1rem);
    text-align: left;
    animation: slideInLeft 0.6s ease-out forwards;
    opacity: 0;
  }

  .info-item h3 {
    font-size: clamp(1rem, 1.2vw, 1.4rem);
  }

  .info-item p {
    font-size: clamp(0.8rem, 0.9vw, 1rem);
  }

  .info-item i {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    width: clamp(1rem, 1.2vw, 1.5rem);
    height: clamp(1rem, 1.2vw, 1.5rem);
  }

/* Formulario */
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 1.2vw, 1.5rem);
    width: 100%;
    max-width: clamp(25rem, 30vw, 35rem);
  }

  .form-group {
    position: relative;
    animation: fadeSlideUp 0.8s ease forwards;
    opacity: 0;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    height: clamp(2.5rem, 3vw, 4rem);
    padding: clamp(0.8rem, 1.2vw, 1.2rem) clamp(0.5rem, 1vw, 1rem) clamp(0.3rem, 0.5vw, 0.5rem);
    border-radius: clamp(0.4rem, 0.6vw, 0.6rem);
    background-color: transparent;
    font-size: clamp(0.8rem, 1vw, 1rem);
    outline: none;
    box-sizing: border-box;
  }

  .form-group textarea {
    min-width: clamp(10rem, 17.5vw, 25rem);
    max-width: clamp(10rem, 20vw, 35rem);
    min-height: clamp(2.5rem, 3.5vw, 4rem);
  }

  .form-group label {
    position: absolute;
    top: 50%;
    left: clamp(0.5rem, 1vw, 1rem);
    transform: translateY(-50%);
    padding: 0 clamp(0.2rem, 0.3vw, 0.4rem);
    font-size: clamp(0.8rem, 0.9rem, 1rem);
    pointer-events: none;
    transition: 0.3s ease forwards;
  }

  .form-group input:focus + label,
  .form-group input:not(:placeholder-shown) + label,
  .form-group textarea:focus + label,
  .form-group textarea:not(:placeholder-shown) + label {
    top: 0;
    font-size: clamp(0.7rem, 0.8vw, 0.9rem);
  }

/* Botón de envío */
  .submit-button {
    align-self: flex-start;
    padding: clamp(0.5rem, 0.7vw, 0.8rem) clamp(1rem, 1.5vw, 1.5rem);
    font-size: clamp(0.9rem, 1vw, 1rem);
    border: none;
    border-radius: clamp(0.3rem, 0.4vw, 0.5rem);
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
  }

  .submit-button i {
    margin-right: clamp(0.3rem, 0.4vw, 0.5rem);
  }

/* Popup de envío de mensaje */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .popup-modal {
    padding: clamp(1rem, 1.5rem, 2rem);
    border-radius: clamp(0.5rem, 0.6vw, 0.75rem);
    width: clamp(18rem, 20vw, 25%);
    text-align: center;
  }

  .popup-icon {
    width: clamp(3rem, 4.5vw, 6rem);
    height: clamp(3rem, 4.5rem, 6rem);
    font-size: clamp(3rem, 4vw, 5rem);
  }

  .popup-success-alert,
  .popup-error-alert {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    padding: clamp(0.1rem, 0.2vw, 0.2rem);
  }

  .popup-success-message,
  .popup-error-message {
    font-size: clamp(0.8rem, 0.9vw, 1rem);
    padding: clamp(0.2rem, 0.3vw, 0.4rem);
  }

/* Botón personalizado */
  .popup-success-button,
  .popup-error-button {
    margin-top: clamp(0.5rem, 0.75vw, 1rem);
    padding: clamp(0.4rem, 0.5vw, 0.6rem) clamp(0.8rem, 1vw, 1.2rem);
    border: none;
    border-radius: clamp(0.3rem, 0.4vw, 0.5rem);
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

/* Animaciones */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeSlideUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeZoomIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

/* Retraso de animaciones */
  .contact-title { animation-delay: 0.3s; }
  .contact-subtitle { animation-delay: 0.6s; }
  .contact-container { animation-delay: 0.9s; }
  .info-item:nth-child(1) { animation-delay: 1.2s; }
  .info-item:nth-child(2) { animation-delay: 1.4s; }
  .info-item:nth-child(3) { animation-delay: 1.6s; }
  .form-group:nth-child(1) { animation-delay: 1.8s; }
  .form-group:nth-child(2) { animation-delay: 2s; }
  .form-group:nth-child(3) { animation-delay: 2.2s; }
  .form-group:nth-child(4) { animation-delay: 2.4s; }
  .submit-button { animation-delay: 2.6s;}