/* Colores oscuros */
	:root {
    /* Grises */
      --black: #000000;               /* Fondo principal */
      --onyx-gray: #1A1A1A;           /* Partials: header, footer, sidebars */
      --graphite-gray: #2B2B2B;       /* Secciones importantes o componentes secundarios */
      --slate-gray: #3C3C3C;          /* Contenedores o áreas secundarias */
      --granite-gray: #4D4D4D;        /* Bordes o separadores */

    /* Azules oscuros - para fondos con contraste o hover */
      --slate-blue: #1E2A39;          /* Fondo alternativo para secciones o modales */
      --steel-blue: #3A506B;          /* Hover de botones o tarjetas */
      --cobalt-blue: #46678C;         /* Fondo de tarjetas activas o elementos destacados */
      --denim-blue: #5C81A5;          /* Fondo de inputs o elementos interactivos */

    /* Azules claros - para texto e íconos */
      --electric-blue: #3498db;       /* Títulos o botones */
      --azure-blue: #58A6FF;          /* Texto principal sobre fondo oscuro */
      --sky-blue: #76B9FF;            /* Enlaces o íconos */
      --ice-blue: #9DCFFF;            /* Texto secundario */
      --powder-blue: #C4E0FF;         /* Detalles sutiles, bordes suaves o etiquetas*/
      --white: #fcfcfc; 				       /* Detalles fuertes y notables*/

    /*Botones adicionales */
      --bright-red: #FF6B6B;
      --vivid-green: #68E873;
      --golden-yellow: #FFE247;
      --deep-purple: #9747FF;
      --hot-pink: #FF69B4;
      --brillant-cian: #56D7D9;
	}

/* Cuerpo */
	body.dark-mode {
		background-color: var(--black);
		color: var(--electric-blue);
	}

/* Secciones */
.dark-mode section{
	background-color: var(--onyx-gray);
}

/* Encabezado */
	.dark-mode .header {
		background-color: var(--onyx-gray);
		color: var(--electric-blue);
	}

	/* Logo */
		body.dark-mode .logo {
			color: var(--azure-blue);
		}

	/* Cambio de tema */
		.dark-mode .theme-toggle {
			background-color: var(--sky-blue);
			box-shadow: inset 0 8px 60px var(--white),
									inset 8px 0 8px var(--white),
									inset 0 -4px 4px var(--white);
		}

		.dark-mode .toggle-indicator {
			transform: translateX(0em);
			background-color: var(--slate-blue);
			box-shadow: var(--charcoal-blue);
		}

		.dark-mode .toggle-icon {
			color: var(--denim-blue);
		}

	/* Selector de lenguaje */
		.dark-mode #language-selector {
			background-color: var(--onyx-gray);
			color: var(--azure-blue);
		}

/* Barra lateral */
	.dark-mode .sidebar {
		background-color: var(--onyx-gray);
		color: var(--white);
	}

	.dark-mode .sidebar .burger,
	.dark-mode .sidebar nav button {
		color: var(--white);
	}

	.dark-mode .sidebar .burger i,
	.dark-mode .sidebar .burger p,
	.dark-mode .sidebar nav button i,
	.dark-mode .sidebar nav button p {
		color: var(--white);
	}

	.dark-mode .sidebar .burger:hover i,
	.dark-mode .sidebar .burger:hover p,
	.dark-mode .sidebar nav button:hover i,
	.dark-mode .sidebar nav button:hover p {
		color: var(--electric-blue);
	}

	.dark-mode .sidebar nav button:hover {
		background: var(--graphite-gray);
		box-shadow: 0 0 6px var(--electric-blue),
								0 0 12px var(--azure-blue),
								inset 0 0 4px var(--steel-blue);
		color: var(--electric-blue);
	}

	.dark-mode .sidebar nav button.active {
		background-color: var(--electric-blue);
		color: var(--white);
		box-shadow: 0 0 6px var(--white),
									0 0 12px var(--azure-blue),
									inset 0 0 4px var(--steel-blue);
	}

	.dark-mode .sidebar nav button.active i,
	.dark-mode .sidebar nav button.active p {
		color: var(--white);
	}

	.dark-mode .sidebar:not(.open) .burger:hover::after,
	.dark-mode .sidebar:not(.open) nav button:hover::after {
		background: var(--granite-gray);
		color: var(--white);
		border: 1px solid var(--sky-blue);
	}
	
	.dark-mode .sidebar:not(.open) nav button.active::after {
    background: var(--electric-blue);
    color: var(--white);
    border: 1px solid var(--electric-blue);
  }

/* Estilos del pie de página */
	.dark-mode footer {
		background-color: var(--onyx-gray);
		color: var(--azure-blue);
	}

	/* Color de iconos red social*/
		.dark-mode .social-icon.linkedin { color: var(--electric-blue); }
		.dark-mode .social-icon.github { color: var(--deep-purple); }
		.dark-mode .social-icon.facebook { color: var(--electric-blue); }
		.dark-mode .social-icon.twitter { color: var(--brillant-cian); }
		.dark-mode .social-icon.youtube { color: var(--bright-red); }

	/* Color hoover iconos red social*/
		.dark-mode .social-icon.linkedin:hover::after { background: var(--electric-blue); }
		.dark-mode .social-icon.github:hover::after { background: var(--deep-purple); }
		.dark-mode .social-icon.facebook:hover::after { background: var(--electric-blue); }
		.dark-mode .social-icon.twitter:hover::after { background: var(--brillant-cian); }
		.dark-mode .social-icon.youtube:hover::after { background: var(--bright-red); }

	/* Color letra tooltip*/
		.dark-mode .social-icon::after{ color: var(--white); }

/* Estilos del home */
	.dark-mode .image-container {
		border: 0.2rem solid var(--denim-blue);
		box-shadow: 0 0 1.2rem var(--azure-blue), 0 0 2rem var(--azure-blue) inset;
	}

  .dark-mode .dark-image {
    display: block;
  }

  .dark-mode .light-image {
    display: none;
  }

	.dark-mode .welcome-container {
		background-color: var(--denim-blue);
		box-shadow: 0 0 1.2rem var(--azure-blue), 0 0 2rem var(--azure-blue) inset;
	}

	.dark-mode .welcome-text {
		color: var(--white);
		text-shadow: 0 0 1rem var(--steel-blue), 0 0 2rem var(--steel-blue);
	}

  .dark-mode .name {
    background: linear-gradient(to top, var(--azure-blue) 50%, var(--white) 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

	.dark-mode .name-wrapper {
		filter: drop-shadow(0 0 5px var(--steel-blue));
	}

	.dark-mode .occupation {
		color: var(--white);
	}

/* Estilos del aboutMe */
	.dark-mode .aboutMe-title {
		color: var(--brillant-cian);
	}