/* Colores oscuros */
  :root {
    /* Grises */
      --black: #000000;               /* Fondo principal */
      --onyx-gray: #1A1A1A;           /* Partials: header, footer, sidebars */
      --graphite-gray: #2B2B2B;       /* Secciones importantes o componentes secundarios */
      --slate-gray: #3C3C3C;          /* Contenedores o áreas secundarias */
      --granite-gray: #4D4D4D;        /* Bordes o separadores */

    /* Azules oscuros - para fondos con contraste o hover */
      --slate-blue: #1E2A39;          /* Fondo alternativo para secciones o modales */
      --steel-blue: #3A506B;          /* Hover de botones o tarjetas */
      --cobalt-blue: #46678C;         /* Fondo de tarjetas activas o elementos destacados */
      --denim-blue: #5C81A5;          /* Fondo de inputs o elementos interactivos */

    /* Azules claros - para texto e íconos */
      --bright-blue: #00bfff;         /* Titulos e iconos*/
      --electric-blue: #3498db;       /* Botones */
      --azure-blue: #58A6FF;          /* Texto principal sobre fondo oscuro */
      --sky-blue: #76B9FF;            /* Enlaces*/
      --ice-blue: #9DCFFF;            /* Texto secundario */
      --powder-blue: #C4E0FF;         /* Detalles sutiles, bordes suaves o etiquetas*/
      --white: #fcfcfc; 				       /* Detalles fuertes y notables*/

    /*Botones adicionales */
      --bright-red: #FF6B6B;
      --vivid-green: #55da60;
      --golden-yellow: #FFE247;
      --deep-purple: #9747FF;
      --hot-pink: #FF69B4;
      --brillant-cian: #2ad4d7;
  }

/* Cuerpo */
  body.dark-mode {
    background-color: var(--black);
    color: var(--electric-blue);
  }

/* Secciones */
.dark-mode section{
  background-color: var(--onyx-gray);
}

/* Encabezado */
  .dark-mode .header {
    background-color: var(--onyx-gray);
    color: var(--electric-blue);
  }

  /* Logo */
    body.dark-mode .logo {
      color: var(--azure-blue);
    }

  /* Cambio de tema */
    .dark-mode .theme-toggle {
      background-color: var(--sky-blue);
      box-shadow: inset 0 8px 60px var(--white),
                  inset 8px 0 8px var(--white),
                  inset 0 -4px 4px var(--white);
    }

    .dark-mode .toggle-indicator {
      transform: translateX(0em);
      background-color: var(--slate-blue);
      box-shadow: var(--charcoal-blue);
    }

    .dark-mode .toggle-icon {
      color: var(--denim-blue);
    }

  /* Selector de lenguaje */
    .dark-mode #language-selector {
      background-color: var(--onyx-gray);
      color: var(--azure-blue);
    }

/* Barra lateral */
  .dark-mode .sidebar {
    background-color: var(--onyx-gray);
    color: var(--white);
  }

  .dark-mode .sidebar .burger,
  .dark-mode .sidebar nav button {
    color: var(--white);
  }

  .dark-mode .sidebar .burger i,
  .dark-mode .sidebar .burger p,
  .dark-mode .sidebar nav button i,
  .dark-mode .sidebar nav button p {
    color: var(--white);
  }

  .dark-mode .sidebar .burger:hover i,
  .dark-mode .sidebar .burger:hover p,
  .dark-mode .sidebar nav button:hover i,
  .dark-mode .sidebar nav button:hover p {
    color: var(--electric-blue);
  }

  .dark-mode .sidebar nav button:hover {
    background: var(--graphite-gray);
    box-shadow: 0 0 6px var(--electric-blue),
                0 0 12px var(--azure-blue),
                inset 0 0 4px var(--steel-blue);
    color: var(--electric-blue);
  }

  .dark-mode .sidebar nav button.active {
    background-color: var(--electric-blue);
    color: var(--white);
    box-shadow: 0 0 6px var(--white),
                  0 0 12px var(--azure-blue),
                  inset 0 0 4px var(--steel-blue);
  }

  .dark-mode .sidebar nav button.active i,
  .dark-mode .sidebar nav button.active p {
    color: var(--white);
  }

  .dark-mode .sidebar:not(.open) .burger:hover::after,
  .dark-mode .sidebar:not(.open) nav button:hover::after {
    background: var(--granite-gray);
    color: var(--white);
    border: 1px solid var(--sky-blue);
  }
  
  .dark-mode .sidebar:not(.open) nav button.active::after {
    background: var(--electric-blue);
    color: var(--white);
    border: 1px solid var(--electric-blue);
  }

/* Estilos del pie de página */
  .dark-mode footer {
    background-color: var(--onyx-gray);
    color: var(--azure-blue);
  }

  /* Color de iconos red social*/
    .dark-mode .social-icon.linkedin { color: var(--electric-blue); }
    .dark-mode .social-icon.github { color: var(--deep-purple); }
    .dark-mode .social-icon.whatsapp { color: var(--vivid-green); }
    .dark-mode .social-icon.facebook { color: var(--electric-blue); }
    .dark-mode .social-icon.twitter { color: var(--brillant-cian); }
    .dark-mode .social-icon.youtube { color: var(--bright-red); }

  /* Color hoover iconos red social*/
    .dark-mode .social-icon.linkedin:hover::after { background: var(--electric-blue); }
    .dark-mode .social-icon.github:hover::after { background: var(--deep-purple); }
    .dark-mode .social-icon.whatsapp:hover::after { background: var(--vivid-green); }
    .dark-mode .social-icon.facebook:hover::after { background: var(--electric-blue); }
    .dark-mode .social-icon.twitter:hover::after { background: var(--brillant-cian); }
    .dark-mode .social-icon.youtube:hover::after { background: var(--bright-red); }

  /* Color letra tooltip*/
    .dark-mode .social-icon::after{ color: var(--white); }

/* Estilos del home */
  .dark-mode .image-container {
    border: 0.2rem solid var(--electric-blue);
    box-shadow: 0 0 1.2rem var(--azure-blue), 0 0 2rem var(--azure-blue) inset;
  }

  .dark-mode .welcome-container {
    background-color: var(--electric-blue);
    box-shadow: 0 0 1.2rem var(--azure-blue), 0 0 2rem var(--azure-blue) inset;
  }

  .dark-mode .welcome-text {
    color: var(--white);
    text-shadow: 0 0 1rem var(--steel-blue), 0 0 2rem var(--steel-blue);
  }

  .dark-mode .name {
    background: linear-gradient(to top, var(--electric-blue) 50%, var(--white) 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dark-mode .name-wrapper {
    filter: drop-shadow(0 0 5px var(--steel-blue));
  }

  .dark-mode .occupation {
    color: var(--white);
  }

/* Estilos del aboutMe */
  .dark-mode .aboutMe-greeting {
    color: var(--powder-blue);
  }

  .dark-mode .aboutMe-name {
    color: var(--electric-blue);
  }

  .dark-mode .aboutMe-nickname {
    color: var(--powder-blue);
  }

  .dark-mode .aboutMe-intro{
    color: var var(--azure-blue)
  }

  .dark-mode .btn.projects {
    background: var(--electric-blue);
    color: var(--white);
    border-color: var(--electric-blue);
  }

  .dark-mode .btn.curriculum {
    border: 2px solid var(--electric-blue);
    color: var(--electric-blue);
  }

  .dark-mode .btn.projects:hover {
    box-shadow: 0 0 6px var(--powder-blue),
                0 0 12px var(--ice-blue),
                inset 0 0 4px var(--white);
  }

  .dark-mode .btn.curriculum:hover {
    box-shadow: 0 0 6px var(--electric-blue),
                0 0 12px var(--azure-blue),
                inset 0 0 4px var(--steel-blue);
  }

  .dark-mode .aboutMe-image {
    box-shadow: 0 0 15px var(--electric-blue),
                0 0 15px var(--electric-blue);
  }

  .dark-mode .stat-number {
    color: var(--electric-blue);
  }

  .dark-mode .stat-label {
    color: var(--white);
  }

  .dark-mode .divider {
    background: var(--white);
  }

/* Estilos de habilidades */
  .dark-mode .skills-title {
    color: var(--bright-blue);
  }

  .dark-mode .skills-subtitle {
    color: var(--ice-blue);
  }

  .dark-mode .skill-category {
    background-color: var(--graphite-gray);
  }

  .dark-mode .skill-category:hover {
    box-shadow: 0 0 20px var(--cobalt-blue);
  }

  .dark-mode .category-toggle {
    color: var(--bright-blue);
  }

  .dark-mode .category-label {
    color: var(--sky-blue);
  }

  .dark-mode .skill-name {
    color: var(--powder-blue);
  }

  .dark-mode .level {
    background-color: var(--granite-gray);
  }

  .dark-mode .level.tooltip:hover::after {
    background-color: var(--electric-blue);
    color: var(--white);
  }

  .dark-mode .level.active {
    background-color: var(--electric-blue);
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 5px var(--bright-blue), 0 0 10px var(--bright-blue);
    }
    to {
      text-shadow: 0 0 15px var(--bright-blue), 0 0 25px var(--bright-blue);
    }
  }

/* Estilos de contacto */
  .dark-mode .contact-title {
    color: var(--bright-blue);
  }

  .dark-mode .contact-subtitle {
    color: var(--ice-blue);
  }

  .dark-mode .contact-container {
    box-shadow: 0 0 10px var(--black);
  }

  .dark-mode .info-item i {
    color: var(--bright-blue);
  }

  .dark-mode .info-item h3 {
    color: var(--azure-blue);
  }

  .dark-mode .info-item p {
    color: var(--ice-blue);
  }

  .dark-mode .form-group input,
  .dark-mode .form-group textarea {
    border: 2px solid var(--ice-blue);
    color: var(--ice-blue);
  }

  .dark-mode .form-group label {
    color: var(--ice-blue);
  }

  .dark-mode .form-group input:focus,
  .dark-mode .form-group textarea:focus {
    border-color: var(--azure-blue);
  }

  .dark-mode .form-group input:focus + label,
  .dark-mode .form-group input:not(:placeholder-shown) + label,
  .dark-mode form-group textarea:focus + label,
  .dark-mode .form-group textarea:not(:placeholder-shown) + label {
    color: var(--azure-blue);
    background-color: var(--onyx-gray);
  }

  .dark-mode .submit-button {
    background: var(--electric-blue);
    color: var(--white);
    border-color: var(--electric-blue);
  }

  .dark-mode .submit-button:hover {
    box-shadow: 0 0 6px var(--powder-blue),
                0 0 12px var(--ice-blue),
                inset 0 0 4px var(--sky-blue);
  }

  .dark-mode .popup-overlay {
    background-color: var(--black);
  }

  .dark-mode .popup-modal{
    background-color: var(--graphite-gray);
    box-shadow: 0 0 10px var(--granite-gray);
  }

  .dark-mode .popup-icon.success,
  .dark-mode .popup-success-alert {
    color: var(--vivid-green);
  }

  .dark-mode .popup-icon.error,
  .dark-mode .popup-error-alert {
    color: var(--bright-red);
  }
  
  .dark-mode .popup-success-message, 
  .dark-mode .popup-error-message {
    color: var(--white);
  }

  .dark-mode .popup-success-button {
    background-color: var(--vivid-green);
    color: var(--white);
    border-color: var(--vivid-green);
  }

  .dark-mode .popup-error-button {
    background-color: var(--bright-red);
    color: var(--white);
    border-color: var(--bright-red);
  }

  .dark-mode .popup-success-button:hover {
    box-shadow: 0 0 6px var(--vivid-green),
                0 0 12px var(--white),
                inset 0 0 4px var(--vivid-green);
  }

  .dark-mode .popup-error-button:hover {
    box-shadow: 0 0 6px var(--bright-red),
                0 0 12px var(--white),
                inset 0 0 4px var(--bright-red);
  }