/* Reset general */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 4.35rem;
  }

/* Layout principal */
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease;
  }

/* Fondo oscuro translúcido */
  body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 0;
  }

/* Contenido principal */
  .main-content {
    margin-left: 56px;
    margin-top: 70px;
    margin-bottom: 6.5rem;
    padding: 0.6rem 0.6rem 0.6rem 1.2rem;    
    flex: 1;
    position: relative;
    z-index: 1;
  }

/* Secciones internas */
  section {
    min-height: calc(100vh - 150px);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    z-index: 1;
  }

/* Responsividad */
  @media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 10px 15px 10px 15px;
    }

    section {
        padding: 15px;
    }
  }

  @media (max-width: 480px) {
    .main-content {
        padding: 10px;
    }

    section {
        padding: 10px;
        font-size: 0.95rem;
    }
  }